@import "styles/variables";

.card {
  width: 348px;
  min-height: 520px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px $space-xl;
  gap: $space-xl;
  background-color: $card-bg;
  cursor: pointer;
  border-radius: $border-radius;
  overflow: hidden;
  transition: box-shadow 0.25s ease-in-out;

  &:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }

  .image {
    width: 348px;
    height: 348px;
    background-color: $card-image-bg;
    object-fit: cover;
  }

  & .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px $space-xs;
    gap: $space-l;
  }

  & .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: $space-xxs;
  }

  & .top {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: $space-xl;
  }

  & .bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $space-xs;

    & p {
      -webkit-line-clamp: 3;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  & .star {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $space-xxs;
  }
}

@media (max-width: $breakpoint-m) {
  .card {
    padding: 0;
    width: 100%;
    height: auto;
    flex-direction: row;
    min-height: auto;
    gap: $space-m;

    & .image {
      width: 120px;
      height: 120px;
    }

    & .content {
      width: 100%;
      justify-content: space-between;
    }

    & .content {
      padding: $space-m;
      gap: $space-l;
    }

    & .bottom {
      flex-direction: column;
      align-items: flex-start;
      gap: $space-xxs;

      & p {
        -webkit-line-clamp: 1;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }

    & .top {
      gap: $space-xxs;
      order: 2;
    }
  }
}
