@import "styles/variables";

.button {
  border: none;
  outline: none;
  cursor: pointer;
  // height: 52px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: $space-s $space-l;
  gap: $space-xxs;
  border-radius: $border-radius;

  color: $button-primary-text;
  background-color: $button-primary-bg;

  &:not(.loading):not(:disabled):hover {
    color: $button-primary-text-hover;
    background-color: $button-primary-bg-hover;
  }

  &:disabled {
    color: $button-primary-text-disabled;
    background-color: $button-primary-bg-disabled;
  }

  &:active:not(:disabled) {
    color: $button-primary-text-active;
    background-color: $button-primary-bg-active;
  }
}
