@import "styles/variables";

.skeleton {
  background-color: $gray;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  &.card {
    width: 348px;
    height: 520px;
  }
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@media (max-width: $breakpoint-m) {
  .skeleton {
    &.card {
      width: 100%;
      height: 150px;
    }
  }
}
