@import "styles/variables";

.wrapper {
  margin-top: var(--space-m);
  position: relative;
}

.options {
  position: absolute;
  top: 47px;
  right: 0;
  left: 0;
  z-index: 10;
  margin-top: var(--space-xxs);
  border-radius: var(--border-radius);
  background: var(--dropdown-options-bg);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.option {
  cursor: pointer;
  padding: var(--space-s) var(--space-xs);
  height: 48px;
  color: var(--text-primary);
}

.option.selected {
  color: var(--text-accent);
}

.option:not(.selected):hover {
  color: var(--text-secondary);
}
