@import "styles/variables";

.counts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $space-xxs;

  & .count {
    display: flex;
    gap: $space-xxs;

    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $text-secondary;
    text-decoration: none;
    transition: color 0.25s ease-in-out;

    &:hover {
      color: $link-color-hover;

      & svg path {
        fill: $link-color-hover;
      }
      & svg ellipse {
        fill: $link-color-hover;
      }
    }
  }
}
