@import "styles/variables";

.container {
  background-color: $bg-color;
}

.list {
  padding: $space-xl 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 80px;
}

.loading {
  padding: $space-xl 0;
  display: flex;
  justify-content: center;
}

.filter {
  width: 300px;
  color: $text-secondary;
}

.search {
  margin-top: $space-m;
  width: 100%;
  display: flex;
  align-items: center;
  gap: $space-s;
}
