@import "styles/variables";

.container {
  background-color: $bg-color;
}

.list {
  padding: $space-xl 0;
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
}

.loading {
  padding: $space-xl 0;
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
}

.filter {
  width: 300px;
  color: $text-secondary;
}

.search {
  margin-top: $space-m;
  width: 100%;
  display: flex;
  align-items: center;
  gap: $space-s;
}

@media (max-width: $breakpoint-s) {
  .list {
    gap: $space-xl;
  }

  .filter {
    width: 100%;
  }

  .search {
    flex-direction: column;

    & button {
      width: 100%;
    }
  }
}

@media (max-width: $breakpoint-m) {
  .list {
    gap: $space-l;
  }
}
