@import "styles/variables";

.container {
  background-color: $bg-color;
}

.list {
  padding: $space-xl 0;
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
}

.loading {
  padding: $space-xl 0;
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
}

.filter {
  margin-top: $space-xl;
  width: 300px;
  color: $text-secondary;
}

.search {
  margin-top: $space-xl;
  width: 100%;
  display: flex;
  align-items: center;
  gap: $space-s;
}

.clear {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.link {
  padding: $space-xxxs $space-xs;
  border-radius: $border-radius;
  color: $white;
  background-color: $brand;
  letter-spacing: 0.025em;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;

  &:hover {
    background-color: $brand-hover;
  }
}

@media (max-width: $breakpoint-s) {
  .list {
    gap: $space-xl;
  }

  .loading {
    gap: $space-l;
  }

  .filter {
    margin-top: $space-m;
    width: 100%;
  }

  .search {
    margin-top: $space-s;
    flex-direction: column;

    & button {
      width: 100%;
    }
  }
}

@media (max-width: $breakpoint-m) {
  .list {
    gap: $space-l;
  }
}

@media (max-width: $breakpoint-xl) {
  .list {
    gap: $space-l;
    justify-content: center;
  }

  .loading {
    gap: $space-l;
  }
}
